body{
  background-color: white;
}
.moblogo {
  display: none;
}
.d-block{
  width: 100%;
  height:400px;
  
}

.carousel {
  position: relative;
}

.dashpage {
  padding-top: 10px;
}

.navbar-nav {
  --bs-nav-link-padding-x: 0;
   --bs-nav-link-padding-y: 0.5rem; 
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
}

.navbar-nav li a {
  font-weight: 500;
  font-size: 21px;
  display: block;

}



.navbar {
  /* background-color: #141518; */
  background-color: #110a0a7d;
  color: var(--bs-navbar-brand-color);
  width: 100%;
  height:100px;
  

}



.card1 :hover{
  background-color: rgb(255, 217, 0);
}

.card2 :hover{
  background-color: rgb(16, 143, 202);
}.card3 :hover{
  background-color: rgb(233, 49, 95)
}




.logo {
width: 120px;
height: 120px;
margin: auto;
vertical-align: middle;
}
.regs_heading {
letter-spacing: 1px;
font-weight: 600;
color: #12587a;
font-size: 30px;
}

.logo1{
    width:100%;
  height:600px;
}

.register_logo{
    width:121px;
    height:auto;
    margin:Auto
}
.fa-facebook-f{
    color:white;
    box-shadow: #12587a;
}
.fa-instagram{
  color:white;
}
.fa-twitter{
  color: white;
}
.fa-linkedin{
  color: white;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .navbar {
    /* background-color: #141518; */
    background-color: #110a0a7d;
    color: var(--bs-navbar-brand-color);
    width: 100%;
    height:auto;
 
}
.navbar-nav li a {
  font-weight: 500;
  font-size: 21px;
  display: block;
  color:white;
  text-align: center;

}
}